{% extends 'base.html.twig' %}

{% block title %}GestorTareas - Invitación{% endblock %}

{% block body %}
    <h1>Invitar al proyecto...</h1>
    <ul>
		{% for project in projects %}
			<li>
				{{ project.name }} - 
                <a href="{{ path('app_invitation_send', {'id': project.id, 'user': user.id}) }}">Seleccionar</a>
			</li>
		{% else %}
			<li>Actualmente no hay proyectos colectivos</li>
		{% endfor %}
	</ul>
    <br>
    <a href="{{ path('app_user') }}">Volver</a>
{% endblock %}
