{% extends 'base.html.twig' %}

{% block title %}GestorTareas - Tarea{% endblock %}

{% block body %}
    <h1>Editar tarea</h1>

    {{ include('task/_form.html.twig', {'button_label': 'Update'}) }}

    <br>
    <a href="{{ path('app_main') }}">Salir</a>
{% endblock %}
