{% extends 'base.html.twig' %}

{% block title %}GestorTareas - Tarea{% endblock %}

{% block body %}
    <h1>Crear nueva tarea</h1>

    {{ include('task/_form.html.twig') }}

    <a href="{{ path('app_main') }}">Salir</a>
{% endblock %}
